In [13]:
#Exercise 3.1: Write a program that asks the user to input, their name, title, age and
#occupation and outputs a string, "[title] [name] is [age] years old and works as a [job]."


def name():
    l = []
    print("Please provide your name, title, age and occupation")
    for i in range(1,5):
        l.append(input())

    return f"{l[1]} {l[0]} is {l[2]} years old and works as a {l[3]}."


name()

Please provide your name, title, age and occupation
f
f
f
f

In [15]:
def name2():
    title = input("Enter your title please: ")
    name = input("Enter your name please: ")
    age = input("Enter your age please: ")
    occ = input("Enter your occupation please: ")
    
    return f"{title} {name} is {age} years old and works as a {occ}."

In [16]:
name2()

Enter your title please: Mr.
Enter your name please: Luca Trautmann
Enter your age please: 26
Enter your occupation please: Full-time Student

'Mr. Luca Trautmann is 26 years old and works as a Full-time Student.'

In [25]:
#Exercise 3.2: Write a program that takes a positive integer as an input and return’s it’s
#length (no of digits). Return 0 if the number is not a positive integer

def integer(x):
    if x < 0:
        return 0
    else:
        return len(str(x))
    

integer(-55)

0

In [20]:
#Exercise 3.3: In a single line of code extract all numbers from a list that are greater than
#100.

l = [2,14,220,345,232,4,6,87,54,223,5,56,5343,9999]

[i for i in l if i > 100]

[220, 345, 232, 223, 5343, 9999]

In [95]:
#Exercise 3.4: In a single line of code capitalize the first character of the value strings in a
#Python dictionary

d = {"key1":"hello","key2":'my',"key3":"name","key4":"is","key5":"luca"}

d2 = {keys:values.capitalize() for (keys,values) in d.items()}

print(d2.values())

dict_values(['Hello', 'My', 'Name', 'Is', 'Luca'])

In [97]:
list(d2.values())

['Hello', 'My', 'Name', 'Is', 'Luca']

In [ ]:
#Exercise 3.5: Write a program that checks if a 5 digit positive integer is palindrome. Bonus:
#extent it to any positive integer

In [86]:
def palindrom(x):
    return str(x) == str(x)[::-1]

In [87]:
palindrom(5535)

False

In [105]:
#Exercise 3.6: Write a program which will find all such numbers which are divisible by 7
#but are not a multiple of 4, between 100 and 1500 (both included). The numbers obtained
#should be printed in a comma-separated sequence on a single line.


def divisible():
    l = []
    for i in range(100,1501):
        if i%7 == 0 and i%4 != 0:
            l.append(str(i))
    
    return ','.join(l)

In [109]:
[i for i in list(range(100,1501)) if i%7 == 0 and i%4 != 0]

[105,
 119,
 126,
 133,
 147,
 154,
 161,
 175,
 182,
 189,
 203,
 210,
 217,
 231,
 238,
 245,
 259,
 266,
 273,
 287,
 294,
 301,
 315,
 322,
 329,
 343,
 350,
 357,
 371,
 378,
 385,
 399,
 406,
 413,
 427,
 434,
 441,
 455,
 462,
 469,
 483,
 490,
 497,
 511,
 518,
 525,
 539,
 546,
 553,
 567,
 574,
 581,
 595,
 602,
 609,
 623,
 630,
 637,
 651,
 658,
 665,
 679,
 686,
 693,
 707,
 714,
 721,
 735,
 742,
 749,
 763,
 770,
 777,
 791,
 798,
 805,
 819,
 826,
 833,
 847,
 854,
 861,
 875,
 882,
 889,
 903,
 910,
 917,
 931,
 938,
 945,
 959,
 966,
 973,
 987,
 994,
 1001,
 1015,
 1022,
 1029,
 1043,
 1050,
 1057,
 1071,
 1078,
 1085,
 1099,
 1106,
 1113,
 1127,
 1134,
 1141,
 1155,
 1162,
 1169,
 1183,
 1190,
 1197,
 1211,
 1218,
 1225,
 1239,
 1246,
 1253,
 1267,
 1274,
 1281,
 1295,
 1302,
 1309,
 1323,
 1330,
 1337,
 1351,
 1358,
 1365,
 1379,
 1386,
 1393,
 1407,
 1414,
 1421,
 1435,
 1442,
 1449,
 1463,
 1470,
 1477,
 1491,
 1498]

In [106]:
divisible()

'105,119,126,133,147,154,161,175,182,189,203,210,217,231,238,245,259,266,273,287,294,301,315,322,329,343,350,357,371,378,385,399,406,413,427,434,441,455,462,469,483,490,497,511,518,525,539,546,553,567,574,581,595,602,609,623,630,637,651,658,665,679,686,693,707,714,721,735,742,749,763,770,777,791,798,805,819,826,833,847,854,861,875,882,889,903,910,917,931,938,945,959,966,973,987,994,1001,1015,1022,1029,1043,1050,1057,1071,1078,1085,1099,1106,1113,1127,1134,1141,1155,1162,1169,1183,1190,1197,1211,1218,1225,1239,1246,1253,1267,1274,1281,1295,1302,1309,1323,1330,1337,1351,1358,1365,1379,1386,1393,1407,1414,1421,1435,1442,1449,1463,1470,1477,1491,1498'

In [111]:
#Exercise 3.7: Write a code that inputs two integers and returns True if they are anagram
#of each other, else returns False

def anagram(x,y):
    return [i for i in x].sort() == [j for j in y].sort()

anagram("luca","aclu")

True

In [ ]:
#Exercise 3.8: Write a program that takes a number and it’s base (<36) and returns the
#value in decimal system. Assume number greater than 9 are represented by alphabets [a-z]

In [4]:
#Exercise 3.9: Text based calculator: Write a program that take’s in a string "No1 operator
#No2". and returns the output of the operation in string. Allowed operations are {+,-,*,/}

def calculator(x):
    l = x.split(" ")
    
    print(l)
    no1 = int(l[0])
    no2 = int(l[2])
    
    if l[1] == '+':
        return str(no1+no2)
    elif l[1] == '-':
        return str(no1-no2)
    elif l[1] == '*':
        return str(no1*no2)
    elif l[1] == '/':
        return str(no1/no2)


calculator('20 * 5')

['20', '*', '5']

'100'

In [117]:
#Exercise 3.10: Write a program that takes an input N and returns fibonacci sequence to
#N th number in the sequence with and without using recursion


def fib(max):
    a, b = 0, 1
    while a < max:
        yield a
        a, b = b, a + b
        
fib(144)

In [ ]:
#Exercise 3.11: Write a program that takes a positive integer input N and returns all
#palindrome’s uptill and including N

In [119]:
#Exercise 3.12: Write a program that return’s the smallest of the integers in a list.

l = [3,4,5,6,6,7]

min(l) 

# min() can also return the smaller value

3

In [ ]:
#Exercise 3.13: Write a program that return’s the largest number in a list.

l = [3,4,5,6,6,7]

max(l)

In [100]:
#Exercise 3.14: Write a program that removes all vowels from a string

def remove_vowels(x):
    return "".join([i for i in x if i not in ['a','u','o','i','e']])

remove_vowels('Hello')

'Hll'

In [ ]:
#Exercise 3.15: Write a program that take’s an input N (odd integer) and drawn an
#isosceles triangle with N stars on the base and the other sides of equal size.
#Example: N=5
#   *
#  ***
# *****

In [ ]:
#Exercise 3.16: Write a program that removes repeated words next to each other from a
#string.

In [ ]:
#Exercise 4.1: Write a child class with 2 parents and validate the above scheme of attribute
#search in instance of a class

pass

In [23]:
#Exercise 4.2: Write a program (without using OOP) which takes in (x, y) ∈ R+2 a tuple of
#positive number representing the size of rectangular grid. It then takes an arbitrary number
#of parameters (x, y), r, where the (x, y) represents the center of a circle and r represents
#the radius. For each entry the program returns a "True" if the circle can be placed on the
#grid without it intersecting with any other circles and then places the circle on the grid. Else
#"False" if the circle can not be placed on the grid because it intersects with other previously
#placed circle




def dimension(x,y):
    return (x,y)

def center(cx,cy):
    return (cx,cy)

def distance(x,x2,y,y2):
    import math
    return math.sqrt((x2-x)^2+(y2-y)^2)

def condition_bounderies(x,y,center,radius):
    D = (x,y)
    if center[0] + radius < D[0] and center[1] + radius < D1[1] and center[0] - radius > 0 and center[1] - radius > 0:
        centers.append(center)
        radii.append(r)
        return True
    
def circle_overlap(previous_centers,new_center):
    pass

In [40]:
centers = []
    
radii = []

def gridworld(x,y,cx,cy,r):
    
    D = dimension(x,y)

    if len(radii) == 0:
        
        center = (cx,cy)
        radius = r
        D = (x,y)
        
        if center[0] + radius < D[0] and center[1] + radius < D[1] and center[0] - radius > 0 and center[1] - radius > 0:
            centers.append(center)
            radii.append(r)
            return True
    
    else:
        dist = distance(centers[-1][0],centers[-1][1],cx,cy)
        
        new_center = (cx,cy)
        
        bool_list = []
        for i in range(len(radii)):
            
            dist = distance(centers[i-1][0],centers[i][1],cx,cy)
            
            if dist < radii[i] + r:
                bool_list.append(True)
            else:
                bool_list.append(False)
        
        print(bool_list)
        
        if all(bool_list) == True:
            centers.append(new_center)
            radii.append(r)
            return True
        else:
            return False
        
        
gridworld(10, 10, 5,5,1)

True

In [37]:
gridworld(10, 10, 1,1,1)

[True]

True

In [41]:
gridworld(10, 10,4,4,2)

[True]

True

In [42]:
centers

[(5, 5), (4, 4)]