In [1]:
#Exercise 3.1: Write a program that asks the user to input, their name, title, age and
#occupation and outputs a string, "[title] [name] is [age] years old and works as a [job]."


title = input("enter your title")
name = input("enter your name")
age = input("enter you age")
job = input("enter your occupation")
print(f"{title} {name} is {age} years old and works as a {job}")

Dr Siddhant Gangapurwala is 27 years old and works as a Postdoctoral Researcher

In [2]:
#Exercise 3.2: Write a program that takes a positive integer as an input and return’s it’s
#length (no of digits). Return 0 if the number is not a positive integer

def ret_length(x):
  return len(str(x)) if x > 0 else 0

x = input('Enter a Number')
print(type(x))

x = int(x)

print(ret_length(x))

<class 'str'>
2

In [3]:
#Exercise 3.3: In a single line of code extract all numbers from a list that are greater than
#100.
x=[1,2,3,4,5,6,7,800]
y=[i for i in x if i>100]
print(y)

[800]

In [4]:
#Exercise 3.4: In a single line of code capitalize the first character of the value strings in a
#Python dictionary

dict1={"key1": "val1", "key2": "val2"}

dict2={key: val.capitalize() for key, val in dict1.items()}

print(dict2)

{'key1': 'Val1', 'key2': 'Val2'}

In [5]:
#Exercise 3.5: Write a program that checks if a 5 digit positive integer is palindrome. Bonus:
#extent it to any positive integer
x=input('enter number')
xf=x[::-1]
if x==xf:
  print('palindrome')
else:
  print('not palindrome')

palindrome

In [6]:
#Exercise 3.6: Write a program which will find all such numbers which are divisible by 7
#but are not a multiple of 4, between 100 and 1500 (both included). The numbers obtained
#should be printed in a comma-separated sequence on a single line.
import numpy as np

x = list(np.arange(100,1501))

y =[str(v) for v in x if v%7==0 and v%4 !=0]
print(",".join(y))

105,119,126,133,147,154,161,175,182,189,203,210,217,231,238,245,259,266,273,287,294,301,315,322,329,343,350,357,371,378,385,399,406,413,427,434,441,455,462,469,483,490,497,511,518,525,539,546,553,567,574,581,595,602,609,623,630,637,651,658,665,679,686,693,707,714,721,735,742,749,763,770,777,791,798,805,819,826,833,847,854,861,875,882,889,903,910,917,931,938,945,959,966,973,987,994,1001,1015,1022,1029,1043,1050,1057,1071,1078,1085,1099,1106,1113,1127,1134,1141,1155,1162,1169,1183,1190,1197,1211,1218,1225,1239,1246,1253,1267,1274,1281,1295,1302,1309,1323,1330,1337,1351,1358,1365,1379,1386,1393,1407,1414,1421,1435,1442,1449,1463,1470,1477,1491,1498

In [7]:
#Exercise 3.7: Write a code that inputs two integers and returns True if they are anagram
#of each other, else returns False
x=121
y=112
xr=str(x)
yr=str(y)
xl=[i for i in xr]
xl.sort()
yl=[i for i in yr]
yl.sort()
print(xl,yl)
flag=0
if len(xl)!=len(yl):
  flag=1
else:
  for i,e in enumerate(xl):
    if xl[i]!=yl[i]:
      flag=1


if flag==0:
  print('True')

else:
  print('False')

['1', '1', '2'] ['1', '1', '2']
True

In [8]:
#Exercise 3.8: Write a program that takes a number and it’s base (<36) and returns the
#value in decimal system. Assume number greater than 9 are represented by alphabets [a-z]

num='z'
b=35

nr=num[::-1]
ns=[i for i in num]
val=0
for n,i in enumerate(ns):
  print(n,i)
  if ord(i)>=ord('a') and ord(i)<= ord('z'):
    v=ord(i)-ord('a')+10
  if ord(i)>=ord('0') and ord(i)<= ord('9'):
    v=ord(i)-ord('0')
  val+=v*b**n


print(val)

0 z
35

In [9]:
#Exercise 3.9: Text based calculator: Write a program that take’s in a string "No1 operator
#No2". and returns the output of the operation in string. Allowed operations are {+,-,*,/}

in_str = input("Enter the string to calculate")
x = in_str.split(" ")
no1 = float(x[0])
no2 = float(x[2])

if x[1] == "+":
  print(no1+no2)


if x[1] == "-":
  print(no1-no2)


if x[1] == "*":
  print(no1*no2)


if x[1] == "/":
  print(no1/no2)

27.0

In [10]:
#Exercise 3.10: Write a program that takes an input N and returns fibonacci sequence to
#N th number in the sequence with and without using recursion

def fib(n):
  if n<2:
    return 1

  else:
    return fib(n-1)+fib(n-2)



fib(4)

#First N number is the fibonacci series
x=[1,1]
for i in range(10):
  x.append(x[-1]+x[-2])

In [11]:
#Exercise 3.11: Write a program that takes a positive integer input N and returns all
#palindrome’s uptill and including N
import numpy as np
N = int(input("enter range for finding palindromes"))
y = list(np.arange(N))



def palindrome(x):
  x=str(x)
  xf=x[::-1]
  if x==xf:
    return True
  else:
    return False


z = [v for v in y if palindrome(v)==True]
print(z)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44]

In [12]:
#Exercise 3.12: Write a program that return’s the smallest of the integers in a list.
x = [-10,5, 8, 9, -45, 100]
def ret_min(x):
  xmin = float('inf')
  for v in x:
    if xmin>v:
      xmin=v

  return xmin


print(ret_min(x))

-45

In [13]:
#Exercise 3.13: Write a program that return’s the largest number in a list.

x = [-10,5, 8, 9, -45, 100]
def ret_max(x):
  xmax = -float('inf')
  for v in x:
    if xmax<v:
      xmax=v

  return xmax


print(ret_max(x))

100

In [14]:
#Exercise 3.14: Write a program that removes all vowels from a string
s='testavbbieewuiiooobb'
vowels=['a', 'e', 'i', 'o', 'u']
l=[i for i in s if i not in vowels]
print(''.join(l))

tstvbbwbb

In [15]:
#Exercise 3.15: Write a program that take’s an input N (odd integer) and drawn an
#isosceles triangle with N stars on the base and the other sides of equal size.
#Example: N=5
#   *
#  ***
# *****

n=7
for i in range(n//2+1):
  sp=n//2-i
  st=n-2*sp
  ms=' '*sp +'*'*st +' '*sp
  print(ms)

   *
  ***
 *****
*******

In [16]:
#Exercise 3.16: Write a program that removes repeated words next to each other from a
#string.

sentence="This is is a test test test sentence"

out=[]
words = sentence.split(" ")
for word in words:
  if len(out)==0:
    out.append(word)

  else:  
    if out[-1] != word:
      out.append(word)


print(" ".join(out))

This is a test sentence