In [104]:
class Human:
    def __init__(self):
        self.name = "Luca"
        self.age = 12
        self.gender = 'M'
        
class Student:
    def __init__(self):
        self.name = "target"
        self.school = "UvA"
        self.country = "NL"

In [100]:
Student_1 = Student('Luca','Uva','NL')

In [101]:
Student_1.country

'NL'

In [114]:
class Student_ID(Student,Human):
    pass

In [115]:
Student_ID_1 = Student_ID()
Student_ID_1.name

In [122]:
class Student_ID_2(Human,Student):
    pass

In [121]:
SID_2 = Student_ID_2()


SID_2.name

TypeError: 'Student_ID_2' object is not callable