In [ ]:
#Exercise 3.1: Write a program that asks the user to input, their name, title, age and
#occupation and outputs a string, "[title] [name] is [age] years old and works as a [job]."

name = input("Enter your name")
title = input("Enter your title")
age = input("Enter your age")
occ = input("Enter your occupation")

output = f"{title} {name} is {age} years old and works as a {occ}."

print(output)

Enter your namemr
Enter your titlemr
Enter your age25
Enter your occupationteacher
mr mr is 25 years old and works as a teacher.

In [ ]:
#Exercise 3.2: Write a program that takes a positive integer as an input and return’s it’s
#length (no of digits). Return 0 if the number is not a positive integer

no = input("Enter your number")
if "." in no:
  print("number is not a string")
else:
  if no[0]=="-":
    print("0")

  else:
    print(len(no))

Enter your number45.89
number is not a string

In [ ]:
#Exercise 3.3: In a single line of code extract all numbers from a list that are greater than
#100.

x = [3, 90, 100, 109, 10000, 890]
y=[]
for element in x:
  if element> 100:
    y.append(element)


print(y)

#y = [apple for apple in x if apple>100]

#print(y)

[109, 10000, 890]

In [ ]:
#Exercise 3.4: In a single line of code capitalize the first character of the value strings in a
#Python dictionary

dict1 = {"key1": "value1", "key2": "value2", "key3":"value3"}

capt_dict1 = {key:dict1[key].capitalize() for key in dict1.keys()}
print(capt_dict1)

{'key1': 'Value1', 'key2': 'Value2', 'key3': 'Value3'}

In [ ]:
#Exercise 3.5: Write a program that checks if a 5 digit positive integer is palindrome. Bonus:
#extent it to any positive integer

# 101 is palindrome, 89 not palindrome

x = 1090901
x_str = str(x)

x_r_str = x_str[::-1]

if x_str == x_r_str:
  print("The numebr is a palindorm")
else:
  print("The numebr is not a palindrome")

The numebr is a palindorm

In [ ]:
#Exercise 3.6: Write a program which will find all such numbers which are divisible by 7
#but are not a multiple of 4, between 100 and 1500 (both included). The numbers obtained
#should be printed in a comma-separated sequence on a single line.
import numpy as np
x = np.arange(100,1501)

result = [str(e) for e in x if e % 7 == 0 and e % 4 != 0] 

print(",".join(result))

105,119,126,133,147,154,161,175,182,189,203,210,217,231,238,245,259,266,273,287,294,301,315,322,329,343,350,357,371,378,385,399,406,413,427,434,441,455,462,469,483,490,497,511,518,525,539,546,553,567,574,581,595,602,609,623,630,637,651,658,665,679,686,693,707,714,721,735,742,749,763,770,777,791,798,805,819,826,833,847,854,861,875,882,889,903,910,917,931,938,945,959,966,973,987,994,1001,1015,1022,1029,1043,1050,1057,1071,1078,1085,1099,1106,1113,1127,1134,1141,1155,1162,1169,1183,1190,1197,1211,1218,1225,1239,1246,1253,1267,1274,1281,1295,1302,1309,1323,1330,1337,1351,1358,1365,1379,1386,1393,1407,1414,1421,1435,1442,1449,1463,1470,1477,1491,1498

In [ ]:
#Exercise 3.7: Write a code that inputs two integers and returns True if they are anagram
#of each other, else returns False
x = 56784
y = 87645

x_str = str(x)
y_str = str(y)
x_str = sorted(x_str)
y_str = sorted(y_str)
if len(x_str)==len(y_str):
  flag = True
  for i,e in enumerate(x_str):
    if e!= y_str[i]:
      flag = False
      break


  if flag==True:
    print("anagram")
  else:
    print("not anagram") 




else:
  print("not anagram")

anagram

In [ ]:
x =[10,5,38,49,5]

for i,e in enumerate(x):
  print(i,e)

0 10
1 5
2 38
3 49
4 5

In [ ]:
#Exercise 3.8: Write a program that takes a number and it’s base (<36) and returns the
#value in decimal system. Assume number greater than 9 are represented by alphabets [a-z]

base = 16
no = "210" # --->1*base^1     1* base^0
dec = 0
for i,e in enumerate(no[::-1]):
  if ord(e) >= ord("a") and ord(e)<= ord("z"): 
    b = ord(e)-ord("a")+10
  else:
    b = ord(e)-ord("0")
  
  dec+=b*base**i



print(dec)

31

In [ ]:
#Exercise 3.9: Text based calculator: Write a program that take’s in a string "No1 operator
#No2". and returns the output of the operation in string. Allowed operations are {+,-,*,/}

In [ ]:
#Exercise 3.10: Write a program that takes an input N and returns fibonacci sequence to
#N th number in the sequence with and without using recursion

In [ ]:
#Exercise 3.11: Write a program that takes a positive integer input N and returns all
#palindrome’s uptill and including N

In [ ]:
#Exercise 3.12: Write a program that return’s the smallest of the integers in a list.

In [ ]:
#Exercise 3.13: Write a program that return’s the largest number in a list.

In [ ]:
#Exercise 3.14: Write a program that removes all vowels from a string

In [ ]:
#Exercise 3.15: Write a program that take’s an input N (odd integer) and drawn an
#isosceles triangle with N stars on the base and the other sides of equal size.
#Example: N=5
#   *
#  ***
# *****

In [ ]:
#Exercise 3.16: Write a program that removes repeated words next to each other from a
#string.

In [ ]:
#Exercise 4.1: Write a child class with 2 parents and validate the above scheme of attribute
#search in instance of a class

In [ ]:
#Exercise 4.2: Write a program (without using OOP) which takes in (x, y) ∈ R+2 a tuple of
#positive number representing the size of rectangular grid. It then takes an arbitrary number
#of parameters (x, y), r, where the (x, y) represents the center of a circle and r represents
#the radius. For each entry the program returns a "True" if the circle can be placed on the
#grid without it intersecting with any other circles and then places the circle on the grid. Else
#"False" if the circle can not be placed on the grid because it intersects with other previously
#placed circle